<p></p>

<div class="container d-flex justify-content-center">
     <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">name of the vessel</th>
            <th scope="col">start date of your booking</th>
            <th scope="col">end date of your booking</th>
            <th scope="col">to cancel your booking</th>
          </tr>
        </thead>

        <tbody>

        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.boat.name %></td>
            <td><%= booking.start_date %></td>
            <td><%= booking.end_date %></td>
            <td><%= link_to "Cancel", boat_booking_path(booking.boat, booking),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},  class:'btn btn-outline-danger btn-sm'%></td>
          </tr>
        <% end %>
        </tbody>
      </table>
</div>
