<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="text">The Team Behind Float Your Boat !</h1>
        <p class="lead text-body-secondary">Float your Boat is brought to you by the students of le Wagon Batch <strong>#1088</strong> </p>
      </div>
    </div>
</section>



<div class="row row-cols-1 row-cols-sm-2 row-cols-sm-3 row-cols-md-4 g-4">
    <div class="col">
      <div class="card shadow-sm">
        <img class= "card-img-top" src="https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"  width="100%" height="225" focusable="false">

        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="titles-sm"> Mouna Rahouti </h2>
            <div class="footer-links-cards">
              <a href="#"><i class="fab fa-github"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>

          <div class="card-body">
            <p class="card-text">  Mouna has been working in different fields for the last 10 years : finance, urban mobility and outsourcing. She is a graduate of ESSEC Business School with a specialization in finance. Mouna is a mom of two young girls, she enjoys coding, spending quality time with her family and travelling around the globe.</p>
          </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
          <img class= "card-img-top" src="https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"  width="100%" height="225" focusable="false">

          <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="titles-sm"> Said Zouagui </h2>
            <div class="footer-links-cards">
              <a href="#"><i class="fab fa-github"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>

          <div class="card-body">
            <p class="card-text">Overall, my background in project management in construction, coupled with my interest in technology, led me to pursue coding as a valuable skillset. I continue to learn and develop my coding skills, with the goal of creating innovative digital solutions for the construction industry.</p>
          </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
          <img class= "card-img-top" src="https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"  width="100%" height="225" focusable="false">

          <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="titles-sm"> Driss Freah </h2>
            <div class="footer-links-cards">
              <a href="#"><i class="fab fa-github"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
          <img class= "card-img-top" src="https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"  width="100%" height="225" focusable="false">

            <div class="card-header d-flex justify-content-between align-items-center">
              <h2 class="titles-sm"> Younes Bouchamma </h2>
            <div class="footer-links-cards">
              <a href="#"><i class="fab fa-github"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>

          <div class="card-body">
            <p class="card-text">I am Younes bouchamma, I 'am from Oujda and I have 34 years old , I am a quality engineer . and I 'd like to learn coding at le wagon in order to change my career .</p>
          </div>
      </div>
    </div>
</div>
