
<div class="banner">
  <div class="container">
    <h1>
      <span id='element' data-controller="typed"></span>
    </h1>
     <p>Embark on your new and exiting maritime adventure with our wide selections of sea vessels</p>



  <%= link_to "Give Our Boats A Look", boats_path, class:"btn btn btn-warning" %>

  </div>
</div>
